<% searchResults.forEach(book=> {%>
<section class="book-info">
  <h2 class="title"><%= book.title %> <h2>
  <h2 class="author"><%= book.authors.join(', ') %></h2>
  <p class="description"><%= book.isbn %></p>
  <img src="<%= book.image %>" alt="<%= book.title %> Book Photo" title="<%= book.title %>" />
  <p class="description"><%= book.description %></p>
  <p class="description"><%= book.bookshelf %></p>
</section>