<section>
  <img src="<%= book.image %>" alt="<%= book.title %> Book Photo" title="<%= book.title %>" />
  <h2 class="title"><%= book.title %> <h2>
  <h2 class="author"><%= book.authors.join(', ') %></h2>
  <p class="description"><%= book.description %></p>
  <p class="isbn">ISBN: <%= book.isbn %></p>
  <p class="shelf">Bookshelf: <%= book.shelf %></p>
</section>