<form class="add-edit" action="<%- 'update' === formAction ? '/book/'+book.id : '/add' %>" method="post">
  <h2><%- 'update' === formAction ? "Update Book" : "Add book to shelf" %></h2>
  
  <input type="hidden" name="_method" value="<%- 'update' === formAction ? 'put' : 'post' %>">
  <input type="hidden" name="id" value="<%=book.id%>">

  <label>Title</label>
  <input type="text" value="<%=book.title%>" name="title" placeholder="<%=book.title%>" required autofocus>

  <label>Author</label>
  <input type="text" value="<%= book.authors %>" name="authors" placeholder="<%= book.authors %>">

  <label>ISBN</label>
  <input type="text" value="<%=book.isbn%>" name="isbn" placeholder="<%=book.isbn%>" required>

  <label>URL</label>
  <input class="url" type="url" value="<%=book.image%>" name="image" placeholder="<%=book.image%>" required pattern="https?://.+">

  <label>Description</label>
  <textarea name="description" cols="30" rows="10" placeholder="Enter a description" required><%=book.description%></textarea>

  <label>Shelf</label>

  <select class="categories">
    <% shelves.forEach( category => { %>
      <option class="<%= category %> value="<%= category %></option><%= category %></option>
    <% }); %>
  </select>

  <input type="text" value="<%=book.shelf%>" name="shelf" placeholder="book.shelf" required>

  <button><%- 'update' === formAction ? "Update Book Details" : "Add New Book" %></button> 
</form>