<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <main>
    <% searchResults.forEach( book => { %>
      <section class="book-info">
        <%- include('partials/detail', {book: book}) %>
        <button class="edit-button">Edit Book</button>
        <section class="hide-me">
          <%- include('partials/form', {formAction: 'update', book: book, shelves: shelves}) %>
        </section>
        <button><a href="/">Show All Books</a></button>
      </section>
    <% }); %>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>