<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <main>
    <% searchResults.forEach( book => { %>
      <section class="book-info">
        <img src="<%= book.image %>" alt="<%= book.title %> Book Photo" title="<%= book.title %>" />
        <h3 class="title"><%= book.title %></h3>
        <h2 class="author"><%= book.authors %></h2>
        <p class="description"><%= book.description %></p>
      </section>

    <% }) %>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>