<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <main>
    <a href="/search">Search</a>
    <h4>Books in list: <%= searchResults.rows.length %></h4>
    <% searchResults.rows.forEach( book => { %>
      <section class="book-info">
        <%- include('partials/detail', {book: book}) %>
        <button><a href='/book/<%= book.id %>'>View details</a></button>
      </section>
    <% }) %>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>