<!DOCTYPE html>
<html lang="en">
  <head>
    <title>results</title>
    <%- include('partials/head') %>
  </head>
<body>
  <header>
      <%- include('./partials/header') %>
  </header>
  <main>
    <% searchResults.forEach(book=> {%>
    <section>
      <img src="<%= book.image %>"/>
      <h2><%= book.title %> <h2>
      <h3><%= book.authors %></h3>
      <p><%= book.description %></p>
    </section>
    <%);}%>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer></body>
</html>