<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>
  <main>
    <h4>Search Results</h4>
    <% searchResults.forEach( book => { %>
      <section class="book-info">
        <img src="<%= book.imageURL %>" alt="<%= book.title %> Book Photo" title="<%= book.title %>" />
        <h3>Book Title: <%= book.title %></h3>
        <h2>Written by: <%= book.authors %></h2>
        <p><%= book.description %></p>
      </section>

    <% }) %>
  </main>
  <footer>
      <% include partials/footer %>
  </footer>
</body>
</html>